/* 
============================================================
                        Feature section
============================================================  
*/

.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.feature__item {
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.feature__block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--feature-item-icon-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-gray);
  margin-top: 10px;
}
