.main-header {
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--header-border-color) 1px solid;
}

.header-container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    // height: 80px;
  }
}

.header-contacts__item .link {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  // padding-top: 32px;
  // padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--main-blue);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__item .link {
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// .header-contacts__item:not(:last-child) {

// }

.icon-email {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.icon-phone {
  margin-right: 10px;
  fill: currentColor;
  width: 12px;
  height: 16px;
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  font-weight: 500;
  align-items: center;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    gap: 50px;
  }
}

.header-contacts {
  display: flex;

  color: var(--main-gray);
  font-weight: 500;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: center;

    gap: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    gap: 50px;
  }
}

.current__page {
  color: var(--main-blue);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);

    display: inline-flex;
    width: calc(100% + 2px);
    height: 4px;

    border-radius: 4px;
    background-color: var(--main-blue);
  }
}
