.main-logo-link {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-right: 93px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;

  @media screen and (max-width: 1199px) {
    justify-content: center;
    padding: 26px 0 26px 15px;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
    padding: 16px 0 16px 15px;
  }
}

.logo-web-blue {
  color: #2196f3;
  display: inline-block;
}

.footer-content .main-logo-link {
  margin-right: 0;
  color: var(--main-white);
}
