.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 0 auto;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-white);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--main-black);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu .mobile__link {
  display: block;
  padding: 10px;
  color: var(--main-black);
  text-decoration: none;

  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  &.current {
    color: var(--main-blue);
  }
}

.mobile-contacts {
  margin-top: auto;
  margin-bottom: 4px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: var(--main-blue);
}

.mobile-contacts__phone {
  margin-bottom: 32px;
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--main-gray);
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;

  gap: 20px;
}

.mobile-socials__item {
  position: relative;

  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.02em;

  color: var(--main-blue);
}

.mobile-socials__item:not(:last-child) .link::after {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 50%;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 22px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--main-blue);
}
